body{
    /*height: 100%;
    line-height: 1;
    font-size: 16px;
    color:black;*/
    margin: 0;
    background: saddlebrown;
}
.main-container{
    display: grid;
    grid-template-columns: 25vw 4fr;
    grid-template-rows: 15vh 4fr;
    grid-gap:0.2vmin;
    background: saddlebrown;
    width: calc(100vw - 1vw - 0.7vmin);
}
.header-image{
    background: sandybrown;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    width: 100%;
    text-align: center;
}
.header-image-logo{
    padding-left: 1vw;
    width: 7vw;
    height: 14vh;
    text-align: center;
}
.header-image-text{
    line-height: 8vh;
    padding-right: 0.5vmin;
    font-size: 2vmin;
    text-align: center;
}
.header-text{
    font-family: 'Times New Roman', serif;
    line-height: 10vh;
    font-size: 3vmax;
    background: sandybrown;
    text-align: center;
    margin-right: 15vw;
    height: 15vh;
    width: 100%;
}
.menu{
    background: sandybrown;
    text-align: center;
    font-size: 2vw;
    padding-top: 4vh;
    height: calc(100% - 4vh);
}
.menu-button{
    background: sandybrown;
    margin-top: 1vh;
    font-size: 4vmin;
    text-align: center;
    width: 20vw;
    height: 10vh;
    border: 0;
}
.menu-button:hover{
    background: #a67044;
}
.content{
    background: darksalmon;
}
.poem-title{
    text-align: center;
    font: bold 32px "Times New Roman";
    margin-bottom: 3vh;
}
.poem-content{
    text-align: left;
    font: italic 24px "Times New Roman"
}
.poem-author{
    text-align: right;
    font: 24px "Times New Roman";
    height: 100%;
    margin-top: 3vh;
}
.poem{
    margin:auto;
    padding-top: 3vh;
    white-space: nowrap;
    width: min-content;
}
.poem-list{
    text-align: left;
}
.poem-list-container{
    padding-left: 10vw;
    padding-right: 5vw;
    padding-top: 3vh;
    background: darksalmon;
}
.poem-ref-item{
    color:black;
    font: 20pt "Times New Roman";
    margin-top: 2vh;
}
.poem-ref{
    color:black;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .main-container{
        display: -ms-grid;
        -ms-grid-columns: 25vw 0.5vmin 1fr;
        -ms-grid-rows: 15vh 0.5vmin auto;
    }
    .header-image{
        display: -ms-grid;
        -ms-grid-columns: 1fr 1fr;
        -ms-grid-column: 1;
        -ms-grid-row: 1;
    }
    .header-image-logo{
        -ms-grid-column: 1;
    }
    .header-image-text{
        -ms-grid-column: 2;
    }
    #header-text{
        font-size: 32pt;
        -ms-grid-column: 3;
        -ms-grid-row: 1;
    }
    #menu{
        -ms-grid-column: 1;
        -ms-grid-row: 3;
        min-height: calc(85vh - 0.5vmin);
        height: calc(100% + 4vh);
    }
    .content{
        -ms-grid-column: 3;
        -ms-grid-row: 3;
        min-height: calc(85vh - 0.5vmin);
        height: calc(100% + 4vh);
    }
    .poem{
        width: 30vw;
        display: -ms-grid;
        -ms-grid-columns: min-content;
        -ms-grid-rows:min-content min-content min-content;
    }
    .poem-list-container{
        width: 30vw;
    }
    .poem-title{
        -ms-grid-row:1;
    }
    .poem-content{
        -ms-grid-row:2;
    }
    .poem-author{
        -ms-grid-row:3;
    }
}